<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esercitazione Vue Whatsapp Web</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <!-- Inizio container vue -->
    <div id="root">

        <!-- Inizio main -->
        <main>

            <!-- Inizio finestra -->
            <div class="container">

                <!-- Inizio sezione sinistra -->
                <div class="container-left">

                    <!-- Inizio pannello utente -->
                    <div class="user-panel flex">

                        <!-- Inizio controlli utente -->
                        <div class="user-avatar flex">
                            <img src="img/avatar_io.jpg">
                            <span>Nome utente</span>
                        </div>

                        <div class="user-icons flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <!-- Fine controlli utente -->



                    </div>
                    <!-- Fine pannello utente -->

                    <!-- Inizio pannello notifiche -->
                    <div class="notification-panel flex">

                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="notification-details">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>

                    </div>
                    <!-- Fine pannello notifiche -->

                    <!-- Inizio pannello contatti -->
                    <div class="contact-panel">

                        <div class="search-input flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>

                        <!-- Inizio lista contatti -->
                        <div class="contact-list">
                            <ul>
                                <li class="flex" 
                                    v-for="(contact, index) in contacts"
                                    @click="showChat(index)">
                            
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'">
                                    
                                    <div class="contact-info">
                                        <span>{{contact.name}}</span>
                                        <div v-for="(message, index) in contact.messages">
                                            <p v-if="index == contact.messages.length - 1">
                                                {{message.text}}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="last-access"
                                        v-for="(message, index) in contact.messages">
                                        <p v-if="index == contact.messages.length - 1">
                                            {{message.date}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Fine lista contatti -->

                    </div>
                    <!-- Fine pannello contatti -->

                </div>
                <!-- Fine sezione sinistra -->

                <!-- Inizio sezione destra -->
                <div class="container-right">

                    <!-- Inizio pannello contatto attivo -->
                    <div class="active-panel flex">

                        <!-- Inizio controlli contatto -->
                        <div class="user-avatar flex">
                            <img src="img/avatar_1.jpg">
                            <div class="contact-details flex">
                                <span>Nome utente</span>
                                <p>Ultimo accesso</p>
                                <p>Ora</p>
                            </div>
                        </div>

                        <div class="user-icons flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <!-- Fine controlli contatto -->

                    </div>
                    <!-- Fine pannello contatto attivo -->

                    <!-- Inizio pannello conversazione -->
                    <div class="conversation-panel flex">

                        <ul class="conversation-list flex">
                            <li v-for="(message, index) in contacts[active].messages"
                                :class="message.status == 'sent'?'user-msg':'contact-msg' ">
                                <div class="message">
                                    {{message.text}}
                                    <div class="message-date" >
                                        {{message.date}}
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- Fine pannello conversazione -->

                    <!-- Inizio barra conversazione -->
                    <div class="chat-bar flex">

                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>

                    </div>
                    <!-- Fine barra conversazione -->

                </div>
                <!-- Fine sezione destra -->

            </div>
            <!-- Fine finestra -->

        </main>
        <!-- Fine main -->

    </div>
    <!-- Fine container vue -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>