/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.debug {
    border: 1px solid black;
}

.flex {
    display: flex;
}

img {
    width: 60px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

.message {
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    padding: 2%;
    margin: 2%;
    min-width: 150px;
    position: relative;
}

.message-date {
    font-size: 11px;
    color: #b2b2b2;
    position: absolute;
    right: 10px;
    bottom: 0;
}

.user-msg {
    background-color: #d6f9ba;
    align-self: flex-end;
    border-radius: 10px;
}

.contact-msg {
    background-color: white;
    align-self: flex-start;
    border-radius: 10px;
}

/* Regole main */
main {
    background-image: linear-gradient(180deg, #159c88 15%, #dadbd4 15%);
    padding: 20px 0;
}

/* Regole container */
.container {
    width: 70%;
    margin: 0px auto;
    height: 100vh;
}

.container-left {
    height: 100%;
    width: 40%;
    float: left;
}

.container-right {
    height: 100%;
    width: 60%;
    float: left;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* Regole pannelli sinistra */
.user-panel {
    background-color: #ebebeb;
    min-height: 10%;
    justify-content: space-between;
}

.user-avatar {
    justify-content: center;
    align-items: center;
}

.user-icons {
    color: #b2b2b2;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.user-icons i {
    padding: 0 10px;
}

.notification-panel {
    background-color: #8edafc;
    min-height: 10%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.notification-details p:first-child {
    font-weight: bold;
}

.notification-details p:last-child {
    text-decoration: underline;
}

.fa-bell-slash {
    border: 1px solid white;
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
}

.contact-panel {
    background-color: white;
    min-height: 80%;
    overflow-y: scroll;
}

.contact-list ul li {
    justify-content: space-between;
    padding: 10px;
}

.contact-list ul li:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.search-input {
    width: 100%;
    background-color: white;
    align-items: center;
}

.search-input input {
    width: 100%;
    border: none;
    padding: 10px;
}

.search-input i {
    margin: 0 10px;
    color: #b2b2b2;
}

.contact-info {
    width: 50%;
}

.contact-info p, .last-access p {
    font-size: 15px;
    color: lightgray;
    font-weight: bold;
}

.contact-info span {
    font-weight: bold;
    font-size: 18px;
}

.contact-info div p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Regole pannelli destra */
.active-panel {
    background-color: #ebebeb;
    min-height: 10%;
    justify-content: space-between;
}

.contact-details {
    flex-direction: column;
}

.conversation-panel {
    background-image: url("img/mine.jpg");
    min-height: 80%;
    flex-direction: column;
    padding: 20px;
}

.conversation-list {
    flex-direction: column;
}

/* .conversation-list li {
    margin: 10px 0;
} */

.chat-bar {
    background-color: #ebebeb;
    min-height: 10%;
    align-items: center;
    justify-content: space-between;
}

.chat-bar input {
    width: 100%;
    border: none;
    padding: 15px;
}

.chat-bar i {
    font-size: 20px;
    padding: 20px;
    color: #b2b2b2;
}